<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-3">

      <div class="card">

        <div class="card-header bg-primary text-white">
          <h3 class="text-center p-3">
            Online Loan Application
          </h3>
        </div>

        <div class="card-body">

          <form #loanForm="ngForm" (ngSubmit)="onloansubmit()">


            <div class="form-group">

              <label for="applicantname">
                Applicant Name*
              </label>

              <input
                type="text"
                ngModel
                #applicantname="ngModel"
                name="applicantname"
                required
                class="form-control"
                pattern="[A-Za-z ]+$"
                minlength="3"
                maxlength="30">

              <strong
                class="text-danger"
                *ngIf="applicantname.touched && applicantname.hasError('required')">

                Applicant Name Is A Required Field.

              </strong>

              <strong
                class="text-danger"
                *ngIf="applicantname.dirty && applicantname.hasError('pattern')">

                Enter A Valid Applicant Name.

              </strong>

              <strong
                class="text-danger"
                *ngIf="applicantname.dirty && applicantname.hasError('minlength')">

                MinLength Of Applicant Name Should Be
                {{applicantname.errors?.['minlength'].requiredLength}}
                And Actual Length Is
                {{applicantname.errors?.['minlength'].actualLength}}

              </strong>

            </div>


            <div class="form-group">

              <label for="email">Email*</label>

              <input
                type="email"
                ngModel
                #email="ngModel"
                name="email"
                class="form-control"
                required
                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">

              <strong
                class="text-danger"
                *ngIf="email.touched && email.hasError('required')">

                Email Is A Required Field.

              </strong>

              <strong
                class="text-danger"
                *ngIf="email.dirty && email.hasError('pattern')">

                Enter A Valid Email ID.

              </strong>

            </div>


            <div class="form-group">

              <label for="mobileno">
                Mobile Number*
              </label>

              <input
                type="text"
                ngModel
                #mobileno="ngModel"
                name="mobileno"
                required
                class="form-control"
                pattern="^[0-9]{10}$"
                maxlength="10">

              <strong
                class="text-danger"
                *ngIf="mobileno.touched && mobileno.hasError('required')">

                Mobile Number Is A Required Field.

              </strong>

              <strong
                class="text-danger"
                *ngIf="mobileno.dirty && mobileno.hasError('pattern')">

                Enter A Valid Mobile Number.

              </strong>

            </div>


            <div class="form-group">

              <label for="panno">
                PAN Number*
              </label>

              <input
                type="text"
                ngModel
                #panno="ngModel"
                name="panno"
                required
                maxlength="10"
                pattern="^[A-Z]{5}[0-9]{4}[A-Z]{1}$"
                class="form-control">

              <strong
                class="text-danger"
                *ngIf="panno.touched && panno.hasError('required')">

                PAN Number Is A Required Field.

              </strong>

              <strong
                class="text-danger"
                *ngIf="panno.dirty && panno.hasError('pattern')">

                Enter A Valid PAN Number.

              </strong>

            </div>


            <div class="form-group">

              <label for="adharno">
                Aadhaar Number*
              </label>

              <input
                type="text"
                ngModel
                #adharno="ngModel"
                name="adharno"
                required
                maxlength="12"
                pattern="^[0-9]{12}$"
                class="form-control">

              <strong
                class="text-danger"
                *ngIf="adharno.touched && adharno.hasError('required')">

                Aadhaar Number Is A Required Field.

              </strong>

              <strong
                class="text-danger"
                *ngIf="adharno.dirty && adharno.hasError('pattern')">

                Enter A Valid Aadhaar Number.

              </strong>

            </div>


            <div class="form-group">

              <label for="AnnualIncome">
                Annual Income*
              </label>

              <input
                type="number"
                ngModel
                #AnnualIncome="ngModel"
                name="AnnualIncome"
                required
                class="form-control">

              <strong
                class="text-danger"
                *ngIf="AnnualIncome.touched && AnnualIncome.hasError('required')">

                Annual Income Is A Required Field.

              </strong>

            </div>


            <div class="form-group">

              <label for="LoanAmount">
                Loan Amount*
              </label>

              <input
                type="number"
                ngModel
                #LoanAmount="ngModel"
                name="LoanAmount"
                required
                min="50001"
                class="form-control">

              <strong
                class="text-danger"
                *ngIf="LoanAmount.touched && LoanAmount.hasError('required')">

                Loan Amount Is A Required Field.

              </strong>

              <strong
                class="text-danger"
                *ngIf="LoanAmount.dirty && LoanAmount.hasError('min')">

                Loan Amount Must Be Greater Than 50000.

              </strong>

            </div>

            <button class="btn btn-primary btn-block">
              Apply Loan
            </button>

          </form>

        </div>

      </div>

    </div>
  </div>
</div>